<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>Sample Page</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
</head>

<body>
<div>
date ={{ date }}

</div>
<div>
n ={{ n }}

</div>
<div id=1>
 {% load staticfiles %}
<img src="{% static 'fast/test2.png' %}" alt="My image"/>
</div>

<script type="text/javascript">


</script>

</body>

</html>